<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASO FÁCIL - @ViewData["Title"]</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/lib/aos/aos.css" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/lib/alertifyjs/css/themes/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet">
    <link href="~/lib/alertifyjs/css/alertify.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-multiselect-master/dist/css/bootstrap-multiselect.min.css" />
    @*<link rel="stylesheet" href="~/lib/multi-checkbox-select/css/multi-checkbox-select.css" />*@
    
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

    <style>
        div.dataTables_processing > div:last-child > div {
            background: #28a745 !important;
        }
</style>
</head>

<body>

    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">
            <h1 class="logo me-auto"><a class="navbar-brand" asp-area="" asp-controller="Candidato" asp-action="Cadastro">ASO FÁCIL</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    @{
                        var claim = User.Claims.Where(x => x.Type.Equals("MenuSistema")).FirstOrDefault();
                        var menu = claim.Value.Split(';');

                        var listaCadastrosBasicos = new string[] { "Cargos", "Tipos de Usuários", "Status de Agendamento", "Status de Solicitação de Ativação" };
                        var menuCadastrosBasicos = new List<string>();

                        foreach (var item in menu)
                        {
                            if (listaCadastrosBasicos.Contains(item))
                            {
                                menuCadastrosBasicos.Add(item);
                                continue;
                            }
                        }

                        if (menuCadastrosBasicos.Any())
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Cadastros
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:320px!important">
                                    @foreach (var item in menuCadastrosBasicos)
                                    {
                                        if (item.Contains("Status"))
                                        {
                                            <a class="link-menu" asp-controller="@item.Replace('ã', 'a').Replace('ç', 'c').Replace(" ", "")" asp-action="Cadastro">@item</a>
                                            continue;
                                        }


                                        //Verificar claim se é clínica, se for, alterar o nome do menu para pacientes
                                        <a class="link-menu" asp-controller="@item.Remove(item.Length - 1).Replace('á','a').Replace('é', 'e').Replace(" ", "")" asp-action="Cadastro">@item</a>
                                    }
                                </div>
                            </li>
                        }

                        foreach (var item in menu)
                        {
                            if (listaCadastrosBasicos.Contains(item))
                                continue;

                            <li><a class="link-menu" asp-controller="@item.Remove(item.Length - 1).Replace('á','a').Replace('é', 'e')" asp-action="Cadastro">@item</a></li>
                        }
                    }
                    <li><a class="btn btn-primary" asp-controller="Conta" asp-action="Logout" id="btn-logout">Sair</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header>

    @RenderBody()

    <div id="preloader" class="hidden"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-mask/dist/jquery.mask.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Vendor JS Files -->
    <script src="~/lib/purecounter/purecounter.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/php-email-form/validate.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script src="~/lib/alertifyjs/alertify.min.js"></script>
    <script src="~/lib/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.min.js"></script>
    @*<script src="~/lib/multi-checkbox-select/js/multiCheckboxSelect.js"></script>*@


    <!-- Template Main JS File -->
    <script src="~/js/main.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
